/* google font style start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* global style start */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header style start */
.header-section {
  background-color: #fff9f3;
}

.header {
  border-bottom: 1px solid #e6e1e2;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo style start */
.logo {
  width: 100px;
}
/* menu style start */
.menu ul {
  display: flex;
  list-style: none;
}

.menu a {
  color: #17134a;
  display: block;
  padding: 25px 15px;
}

/* header btn style start */
.header-btns a {
  color: #3a30ba;
  display: inline-block;
  padding: 10px 15px;
}

.border-btn {
  border: 1px solid;
  border-radius: 5px;
}

.border-btn:hover {
  background-color: #3a30ba;
  color: #fff;
  transition: 0.5s;
}
