/* google font style start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* global style start */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header style start */
.header-section {
  background-color: #fff9f3;
}

.header {
  border-bottom: 1px solid #e6e1e2;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo style start */
.logo {
  width: 100px;
}
/* menu style start */
.menu ul {
  display: flex;
  list-style: none;
}

.menu a {
  color: #17134a;
  display: block;
  padding: 25px 15px;
}

/* header btn style start */
.header-btns a {
  color: #3a30ba;
  display: inline-block;
  padding: 10px 15px;
}

.border-btn {
  border: 1px solid;
  border-radius: 5px;
}

.border-btn:hover {
  background-color: #3a30ba;
  color: #fff;
  transition: 0.3s;
}

/* hero style start */
.hero-container {
  background-color: #fff9f3;
  text-align: center;
  padding: 70px 0px;
}

.hero-text h1 {
  color: #17134a;
  font-size: 71px;
  line-height: 71px;
  letter-spacing: -1.5px;
  font-weight: 700;
}

.hero-text h2 {
  color: #45426e;
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  margin-top: 45px;
}

.hero-text ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 22px;
}

.hero-text ul li {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 0px 10px;
}

.hero-btn {
  margin-top: 33px;
}

.hero-text ul svg {
  width: 20px;
  color: #3a30ba;
  margin-right: 5px;
}

.hero-btn {
  background-image: url(../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 385px;
}

.hero-btn a {
  display: inline-flex;
  align-items: center;
  background-color: #3a2fba;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  padding: 20px 30px;
}

.hero-btn a:hover {
  background-color: #12126e;
  transition: 0.3s;
}

.hero-btn svg {
  width: 10px;
  margin-left: 15px;
}

.featured-on {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.featured-on img {
  max-height: 35px;
  margin: 0px 15px;
}

.badge-img img {
  width: 258px;
}

.intro-video {
  max-width: 85%;
  border: 20px solid #ede8e9;
  border-radius: 20px;
  margin: 0px auto;
}

.intro-video video {
  max-width: 100%;
  border-radius: 20px;
}

/* testimonial style start */
.testimonial-container {
  padding: 40px 0px;
}

.testimonial-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #e6e1e2;
}

.testimonial-content-box {
  padding-bottom: 30px;
}

.testimonial-content-box img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.testimonial-content-box h4 {
  color: #45426e;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 17px;
}

.testimonial-content-box h2 {
  color: #17134a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.testimonial-content-box h5 {
  color: #45426e;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

/* brand style start */
.brand-container {
  padding-top: 55px;
  padding-bottom: 100px;
  text-align: center;
}

.brand-container h2 {
  color: #17134a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.brand-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-content-box img {
  height: 35px;
  filter: grayscale(100%) sepia(0%) blur(0px) brightness(100%) hue-rotate(0deg)
    saturate(100%) opacity(100%) contrast(100%) invert(0%);
}

/* ai style start */
.ai-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff9f3;
  padding: 42px;
  border-radius: 5px;
}

.ai-text h2 {
  color: #17134a;
  font-size: 47px;
  line-height: 50px;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 30px;
}

.ai-text p {
  color: #45426e;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 28px;
}

.ai-text ul {
  list-style: none;
}

.ai-text li {
  color: #45426e;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.ai-text ul li svg {
  width: 20px;
  color: #3a30ba;
  margin-right: 5px;
}

.ai-btn {
  margin-top: 35px;
}

.ai-btn a {
  display: inline-flex;
  align-items: center;
  background-color: #3a2fba;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  padding: 20px 30px;
}

.ai-btn a:hover {
  background-color: #12126e;
  transition: 0.3s;
}

.ai-btn svg {
  width: 10px;
  margin-left: 15px;
}

.ai-img p {
  color: #45426e;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
}

/* no code style start */
.no-code-container {
  padding: 60px 0px;
}

.no-code-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdeff7;
  padding: 42px;
  border-radius: 5px;
}

.no-code-text h2 {
  color: #17134a;
  font-size: 47px;
  line-height: 50px;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 30px;
}

.no-code-text p {
  color: #45426e;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 28px;
}

.no-code-text ul {
  list-style: none;
}

.no-code-text li {
  color: #45426e;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.no-code-text ul li svg {
  width: 20px;
  color: #3a30ba;
  margin-right: 5px;
}

.no-code-btn {
  margin-top: 35px;
}

.no-code-btn a {
  display: inline-flex;
  align-items: center;
  background-color: #3a2fba;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  padding: 20px 30px;
}

.no-code-btn a:hover {
  background-color: #12126e;
  transition: 0.3s;
}

.no-code-btn svg {
  width: 10px;
  margin-left: 15px;
}

.no-code-img img {
  width: 560px;
  height: 460px;
}
